
:root {
  --var-color-white: #ffff;
  --var-color-black: #000;
  --var-color-first: #0068df;
  --var-color-advanced: #0072f5;
  --var-color-prim: #f2f2f2;
  --var-color-peak: #ddd;
  --var-linear-grad: linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&family=Gemunu+Libre&family=Josefin+Sans&family=Jost:wght@500&family=Lexend:wght@400;500;800&family=Libre+Baskerville:wght@700&family=Manrope:wght@400;500;600;700;800&family=Noto+Sans+KR&family=Open+Sans:wght@400;500;600&family=Oxygen&family=Pacifico&family=Plus+Jakarta+Sans:wght@800&family=Poppins:ital,wght@0,400;0,500;0,600;1,400&family=Prompt&family=Questrial&family=Quicksand:wght@600&family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500&family=Tilt+Warp&family=Titillium+Web&display=swap');

body {
  background: var(--var-color-black);
  user-select: none;
}
html {
  scroll-behavior: smooth;
  user-select: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  user-select: none;
}
.for-desk {
  display: none;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  z-index: 1000;
  
  background: var(--var-color-black);
}
.btn svg {
  font-size: 30px;

}
nav .wrapper {
  position: relative;
  max-width: 1300px;
  z-index: 1000;
  height: 97px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: var(--var-color-prim);
  font-size: 30px;
  width: 67px;
  display: inherit;
  height: 67px;
  font-weight: 600;
  text-decoration: none;

  svg {
    width: 60px;
    height: 60px;
  }
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
  margin: 0 11px;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  font-weight: bold;
  color: var(--var-color-first);
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  border: 1.5px solid var(--var-color-advanced);
  background: var(--var-color-black);
  width: 180px;
  line-height: 45px;
  border-radius: 8px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: bold;
  border-radius: 0px;
}
.drop-menu li {
  padding: 5px 0;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: var(--var-color-black);
  border: 1.5px solid var(--var-color-advanced);
  padding: 30px 33px;
  display: flex;
  border-radius: 7px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(33% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  user-select: none;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 600;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #ddd;
  border: 2px solid var(--var-color-black);
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: var(--var-color-white);
  border: 2px solid var(--var-color-advanced);
}
.wrapper .btn{
  color: var(--var-color-white);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

@media screen and (max-width: 970px) {

  nav .wrapper {
    height: 83px;
  }

 .wrapper {
  padding: 0 30px;
 }

  .wrapper .btn{
    display: inline-block;
    margin-top: 1px;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: var(--var-color-black);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: flex;
    justify-content: center;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .for-desk {
    display: block;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
  .for-mobile {
    display: none;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

.advanced  a {
  margin: 0 7px;
  padding: 17px 21px;
  font-weight: bold;
  color: var(--var-color-white);
  border-radius: 9px;
  font-size: 19px;
  text-decoration: none;

  b {
    margin-left: 7px;
  }
  svg {
    vertical-align: middle;
    font-size: 7px;
    margin: 0 3px;
  }
}
.advanced a:nth-child(1) {
  background: var(--var-color-first);
  transition: all 0.3s ease-out;

  &:hover {
    background: var(--var-color-white);
  transition: all 0.3s ease-out;
  color: var(--var-color-black);


  svg {
    color: var(--var-color-black);
  }
  }
}

.creator-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;

    a {
      color: var(--var-color-advanced);
    }
  }
}
.drop-euthrM4 svg {
  font-size: 25px;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: bold;
}
.drop-euthrM4:hover svg {
  transition: all 0.2s ease-out;
  transform: rotate(180deg);
}
.navbar {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.7s;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.4 );
  backdrop-filter: blur(20px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
  width: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  width: 0;
  background: none; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 0;
  background: none; 
}
.nextui-c-hPzDAx .nextui-collapse-title {
  color: var(--var-color-white);
  font-size: calc(10px + 2.5vmin);
}
.nextui-c-hPzDAx-jBQhgJ-divider-true {
  color: var(--var-color-white);
  border-bottom: 2px solid var(--var-color-advanced);
  padding: 15px 0;
}
.svg_item_1 {
  animation: ItemSvg1 3s ease 0s infinite normal forwards;
}
@keyframes ItemSvg1 {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.svg_item_2 {
  animation: ItemSvg2 3s ease 0s infinite normal forwards;
}
@keyframes ItemSvg2 {
	0%,
	50%,
	100% {
		opacity: 0;
	}

	25%,
	75% {
		opacity: 1;
	}
}
.first-child_1::after {
  content: "K";
}
.first-child_1::before {
  content: "$";
}
.first-child_2::after {
  content: "K";
}
.first-child_2::before {
  content: "$";
}
.first-child_3::after {
  content: "%";
}
.first-child_3::before {
  content: "";
}
.first-child_4::after {
  content: "%";
}
.first-child_4::before {
  content: "";
}
.fade {
  opacity: 0;
}
.nextui-c-hPzDAx .nextui-collapse-title {
  color: var(--nextui-colors-accents0);
  filter: invert(1);
}
.nextui-collapse-title {
  color: var(--var-color-white);
  filter: invert(1);
}